@model kifaro.Models.Wish

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Wish</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PictureUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PictureUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Rank)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" asp-route-user="@Model.UserID">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.ID">Delete</a>|
    <a asp-action="Index" asp-route-user="@Model.UserID">Back to List</a>
</div>
